{% extends './user/component/based2.html' %}
{% block title %} apartment {% endblock %}

{% block content %}
{% load static %}


<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Featured <em>Properties</em></h2>
                    <img src="assets/images/line-dec.png" alt="">
                    <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static './assets/images/product-1-720x480.jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>
                            <del><sup>$</sup>80 000</del>  <sup>$</sup>70 000
                        </span>

                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p>House &nbsp;/&nbsp; For Sale &nbsp;/&nbsp; 100 sq m &nbsp;/&nbsp; 2010</p>

                        <ul class="social-icons">
                            <li><a href="property-details.html">+ View More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static './assets/images/product-2-720x480.jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>
                            <del><sup>$</sup>80 000</del>  <sup>$</sup>70 000
                        </span>

                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p>House &nbsp;/&nbsp; For Sale &nbsp;/&nbsp; 100 sq m &nbsp;/&nbsp; 2010</p>

                        <ul class="social-icons">
                            <li><a href="property-details.html">+ View More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{%static 'assets/images/product-3-720x480.jpg'%}" alt="">
                    </div>
                    <div class="down-content">
                        <span>
                            <del><sup>$</sup>80 000</del>  <sup>$</sup>70 000
                        </span>

                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p>House &nbsp;/&nbsp; For Sale &nbsp;/&nbsp; 100 sq m &nbsp;/&nbsp; 2010</p>

                        <ul class="social-icons">
                            <li><a href="property-details.html">+ View More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="main-button text-center">
            <a href="properties.html">View Properties</a>
        </div>
    </div>
</section>

{% endblock %}