{% extends './base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{% static './assets/images/video.mp4' %}" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Welcom To Our Company </h6>
                <h2>Find the perfect <em>Real Estate</em></h2>
                <div class="main-button">
                    <a href="{%url 'website:contact'%}">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

   <!-- ***** Cars Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Featured <em>Properties</em></h2>
                        <img src="assets/images/line-dec.png" alt="">
                        <p>Welcome to our Featured Properties section, where luxury meets convenience. Here, we showcase a curated collection of our most outstanding properties, each selected for its exceptional qualities and unmatched value. Whether you’re searching for a cozy home, a spacious retreat, or a stunning investment opportunity, our featured listings offer the best of what’s available</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static './assets/images/product-1-720x480.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>$</sup>80 000</del>  <sup>$</sup>70 000
                            </span>

                            <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                            <p>House &nbsp;/&nbsp; For Sale &nbsp;/&nbsp; 100 sq m &nbsp;/&nbsp; 2010</p>

                            <ul class="social-icons">

                                <li><a href="#" class="viewMoreLink">+ View More</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static './assets/images/product-1-720x480.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>$</sup>80 000</del>  <sup>$</sup>70 000
                            </span>

                            <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                            <p>House &nbsp;/&nbsp; For Sale &nbsp;/&nbsp; 100 sq m &nbsp;/&nbsp; 2010</p>

                            <ul class="social-icons">

                                <li><a href="#" class="viewMoreLink">+ View More</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{% static './assets/images/product-1-720x480.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>$</sup>80 000</del>  <sup>$</sup>70 000
                            </span>

                            <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                            <p>House &nbsp;/&nbsp; For Sale &nbsp;/&nbsp; 100 sq m &nbsp;/&nbsp; 2010</p>

                            <ul class="social-icons">

                                <li><a href="#" class="viewMoreLink">+ View More</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="main-button text-center">
                <a href="properties.html">View Properties</a>
            </div>
        </div>
    </section>
    <!-- ***** Cars Ends ***** -->

    <section class="section section-bg" id="schedule" style="background-image: url(assets/images/about-fullscreen-1-1920x700.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2>Read <em>About Us</em></h2>
                        <img src="assets/images/line-dec.png" alt="">
                        <p>Our mission is to make your real estate experience as smooth and enjoyable as possible. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-content text-center">
                        <p>At Real Estate Solution, we believe that finding your perfect home should be an exciting and fulfilling journey. As a dedicated team of real estate professionals, we are committed to delivering exceptional service and personalized experiences tailored to your unique needs and aspirations.</p>
                         <p>Founded in 2020, Real Etate Solution  has grown from a passionate startup into a leading name in the real estate industry. Our team of experts brings a wealth of knowledge, experience, and enthusiasm to every transaction, ensuring that our clients receive the highest level of service and support.</p>                 
   </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Meet our <em>Team</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/team-image-1-646x680.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>CEO</span>
                            <h4>John Doe</h4>
                            <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/team-image-2-646x680.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Customer Support</span>
                            <h4>Jane Smith</h4>
                            <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/team-image-3-646x680.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Customer Support</span>
                            <h4>Kate Johnson</h4>
                            <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/team-image-4-646x680.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Customer Support</span>
                            <h4>Mark Green</h4>
                            <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Send us a <em>message</em></h2>
                        <p>We’d Love to Hear from You!</p>
<p> we’re always here solution assist you with your inquiries, feedback, or any other questions you may have. Your thoughts are important to us, and we strive to respond promptly and effectively.</p>
                        <div class="main-button">
                            <a href="{%url 'website:contact'%}">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

   
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // Use querySelectorAll to get all elements with the class 'viewMoreLink'
      document.querySelectorAll('.viewMoreLink').forEach(function(link) {
        link.addEventListener('click', function(event) {
          // Prevent the default action
          event.preventDefault();
    
          Swal.fire({
            title: "<strong>Sign In Required</strong>",
            html: `
              <p>Please sign in to continue viewing more details.</p>
              <p>If you don't have an account, <a href="/register" style="color: #F8BB86;">register here</a>.</p>
            `,
            icon: 'info',
            confirmButtonText: 'Sign In',
            confirmButtonColor: '#3085d6',
            cancelButtonText: 'Cancel',
            cancelButtonColor: '#d33',
            showCancelButton: true
          }).then((result) => {
            if (result.isConfirmed) {
              // Redirect to the sign-in page or show sign-in form
              window.location.href = '/loginPage';
            } else if (result.isDismissed) {
              // Redirect to the property details page if the user cancels
              window.location.href = link.href;
            }
          });
        });
      });
    </script>
    


  </body>
</html>
{% endblock %}