{% extends './user/component/based2.html' %}
{% load static %}
{% block title %}properties{% endblock %}

{% block content %}

    <!-- ***** Call to Action Start ***** -->

    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>
             
            <div class="contact-form">
                <form action="#" id="contact">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>For Rent/For Sale:</label>
                     
                                 <select>
                                      <option value="">All</option>
                                      <option value="For Rent">For Rent</option>
                                      <option value="For Sale">For Sale</option>
                                 </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Location:</label>
                     
                                 <select>
                                      <option value="">--All --</option>
                                      <option value="">--All --</option>
                                      <option value="">--All --</option>
                                      <option value="">--All --</option>
                                      <option value="">--All --</option>
                                 </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Type:</label>
                     
                                 <select>
                                      <option value="">-- All --</option>
                                      <option value="">House</option>
                                      <option value="">Apartment</option>
                                 </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Floor area:</label>
                     
                                 <input type="text">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Bedrooms:</label>
                     
                                 <select>
                                      <option value="">1</option>
                                      <option value="">2</option>
                                      <option value="">3</option>
                                      <option value="">4</option>
                                 </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Bathrooms:</label>
                     
                                 <select>
                                      <option value="">1</option>
                                      <option value="">2</option>
                                      <option value="">3</option>
                                      <option value="">4</option>
                                 </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 offset-sm-4">
                      <div class="main-button text-center">
                          <a href="#">Search</a>
                      </div>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->
   
    {% if houses %}
    <div class="container">
      <div class="row">
        {% for house in houses %}
          <div class="col-md-4">
            <div class="items">
              <div class="card">
                <img src="{{ house.image_name.url }}" alt="image" class="img-fluid">
                <div class="card-body">
                  <h5 class="card-title">{{ house.name }}</h5>
                  <p class="card-text">
                    <strong><h4>{{ house.description }}</h4></strong>
                  </p>
                  <p class="card-text"><strong>Location:</strong> {{ house.location }}</p>
                  <p class="card-text"><strong>Price:</strong> <span style="color: red;">Tsh {{ house.price }}</span></p>
                  <p class="card-text"><strong>Status:</strong> {{ house.get_status_display }}</p>
                  <p class="card-text"><strong>Size:</strong> {{ house.size }} sq. m</p>
                  <!-- Button to open the order page -->
                  <a href="{% url 'website:property_details' house.id %}" class="btn btn-primary mt-auto">
                    Make Order
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="empty_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="item">
              <p>No houses available at the moment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
</div>

    
  </body>
</html>
{%endblock%}