<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Halidy-coder">
  <link href="{% static 'img/logo/logo.jpg' %}" rel="icon"> 
  <title>ARS- {% block title %} {% endblock %}</title>
  <link href="{% static './assets/css/bs5.min.css' %}" rel="stylesheet" >

  <script src="{% static './assets/js/demo/chart.js' %}"></script>
  <link href="{% static './assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static './assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static './assets/css/ruang-admin.min.css' %}" rel="stylesheet">
  <link href="{% static './assets/css/chart.css' %}" rel="stylesheet">
  <link href="{% static './assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <!-- Select2 -->
  <link href="{% static './assets/vendor/select2/dist/css/select2.min.css'%}" rel="stylesheet" type="text/css">
  <!-- Bootstrap DatePicker -->  
  <link href="{% static './assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" >
  <!-- Bootstrap Touchspin -->
  <link href="{% static './assets/vendor/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css' %} " rel="stylesheet" >
  <!-- ClockPicker -->
  <link href="{% static './assets/vendor/clock-picker/clockpicker.css' %}" rel="stylesheet">
  <link href="{% static './assets/css/ruang-admin.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static './assets/css/dashboard.css' %}">
  <script src="{% static './assets/js/jquery.min.js' %}"></script>
  <script src="{% static './assets/js/chart.umd.js' %}"></script>
  <style>
    .card-header , .card-footer{
      display: none !important;
      padding: 260px  0px  !important;
    }
    .dataTables_wrapper{
      padding: 30px 10px !important;
    }
  </style>
  
</head>

<body id="page-top" >

  <div id="loader">
    
  </div>

<div style="display:none;" id="myDiv" class="animate-bottom" >

</div>
<div id="wrapper" >
  <!-- Sidebar -->
  <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar" style="background-color: #000;">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-icon">
    
        <span>ARS</span>
      </div> 
      <div class="sidebar-brand-text mx">-System(v.1.0)</div>
    </a>
    <hr class="sidebar-divider my-0">
    
    
    <li class="nav-item active">
      <a class="nav-link" href="">
        <i class="fas far far fa-store-alt fa-2x text-success"></i>
        <span>Dashboard</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'account:Apartment' %}">
        <i class="fas far far fa-store-alt fa-2x text-success"></i>
        <span>Apartments</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="">
        <i class="fas far far fa-store-alt fa-2x text-success"></i>
        <span>Customers</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="">
        <i class="fas far far fa-store-alt fa-2x text-success"></i>
        <span>User</span></a>
    </li><li class="nav-item active">
      <a class="nav-link" href="">
        <i class="fas far far fa-store-alt fa-2x text-success"></i>
        <span>Role & Permission</span></a>
    </li>
    
    <hr class="sidebar-divider" style="margin: 10px 0px;">
    <li class="nav-item active">
      <a class="nav-link" href="">
        <i class="fas far far fa-store-alt fa-2x text-success"></i>
        <span>Logout</span></a>
    </li>
  
  </ul>
  <!-- Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- TopBar -->
      <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
        <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <ul class="navbar-nav ml-auto">
        
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img class="img-profile rounded-circle" src="{% static 'img/logo/logo.jpg' %}" style="max-width: 60px">
              <span class="ml-2 d-none d-lg-inline text-white small">{{request.user.username}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
           
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              
              <a class="dropdown-item"  data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
          {% endif %}
        </ul>
      
      </nav>
     
      <!-- Topbar -->

      <!-- Container Fluid-->
      {% block content %} 
      {% endblock %}
      <!---Container Fluid-->
    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed & maintained by
            <b><a href="https://halidy-coder.gitlab.io/" target="_blank">RSA-Team</a></b>
          </span>
        </div>
      </div>

     
    </footer>
    <!-- Footer -->
  </div>
</div>


<script src="{% static './assets/js/bs5.min.js' %}" ></script>

  
  <script src="{% static './assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static './assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static './assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static './assets/js/ruang-admin.min.js' %}"></script>
  <script src="{% static './assets/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static './assets/js/demo/chart-area-demo.js' %}"></script>  
  <script src="{% static './assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static './assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static './assets/vendor/select2/dist/js/select2.min.js' %}"></script>
  <script src="{% static './assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static './assets/vendor/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js' %}"></script>
  <script src="{% static './assets/vendor/clock-picker/clockpicker.js' %}"></script>
  <script src="{% static './assets/vendor/clock-picker/clockpicker.js' %}"></script>
  <script src="{% static './assets/js/demo/swetealert.js' %}"></script>
  
    <script>
      $(document).ready(function () {
        $('#dataTable').DataTable(); 
        $('#dataTableHover').DataTable(); 
        // $('#userdataTable').DataTable(); 
      });
    </script>
  <script>
    $(document).ready(function () {


      $('.select2-single').select2();
      $('#id_uploaded_by').select2({
        placeholder: "Select User",
        allowClear: true
      })
      $('#id_Apartment_type').select2({
        placeholder: "Select Type",
        allowClear: true
      })
      
      // Select2 Single  with Placeholder
     

    });
  </script>
    <!-- sweete messages alert -->
    {% for message in messages %}
    {% if message.tags == 'success' %}
      <script src="{% static './asset/js/swetealert.js' %}"></script>
      <script>
        var m = "{{message}}";
        // swal({
        //   position: 'top-end',
        //   title :"success",
        //   text: m,
        //   icon: "success",
        //   showConfirmButton: false,
        //   timer: 1500
        // });
        swal({
        position: 'top-right',
        icon: 'success',
        title:"success",
        text:m,
        showConfirmButton: true,
      });
      $(document).load();
      </script>
    {% endif %}
    {% if message.tags == 'info' %}
      <script src="{% static './asset/js/swetealert.js' %}"></script>
      <script>
        var m = "{{message}}";
        swal({
          position: 'top-right',
          title :"info",
          text: m,
          icon: "info",
          showConfirmButton: true,
        });
        $(document).load();
      </script>
    {% endif %}
    {% if message.tags == 'error' %}
      <script src="{% static './asset/js/swetealert.js' %}"></script>
      <script>
        var m = "{{message}}";
        swal({
          position: 'top-right',
          title :"Error",
          text: m,
          icon: "error",
          showConfirmButton: true,
        });
        $(document).load();
      </script>
    {% endif %}
    {% endfor %}
  

  
  
  </body>

</html>